mixin menu()
  +b.menu
    +e.UL.list
      +e.LI.item  
        +e.A.link(href="#") Земля
      +e.LI.item  
        +e.A.link(href="#") Крановые площадки
      +e.LI.item  
        +e.A.link(href="#") Выгрузка вагонов
      +e.LI.item  
        +e.A.link(href="#") Фасовка
      +e.LI.item  
        +e.A.link(href="#") Щебень
      +e.LI.item         
        +e.A.link_phone(href="#") +7(927)678-45-14
      +e.LI.item  
        +e.A.link_address(href="#") г.Казань, Складская 20         
