.menu {  
  display: flex;
  align-items: center;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.menu-item {
  position: relative;
  padding-right: 27px;
  white-space: nowrap;
}

.menu-link {
  position: relative;
  display: block;
  text-align: center;
  font-family: $ff_main;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #FFFFFF;
    &:hover {
      font-color: $color_text;
      text-decoration: none;
  }    
    &:last-child {
     font-size: 10px;
  }    
}

.menu-link_phone:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -24px;
    width: 19px;
    height: 14px;
    background-image: url(../images/phone.png);
    background-position: center center;
    background-repeat: no-repeat;
  }

.menu-link_address:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -24px;
    width: 19px;
    height: 14px;
    background-image: url(../images/address.png);
    background-position: center center;
    background-repeat: no-repeat;
  }


  
