mixin Menu()
  +b.Menu
    +e.UL.list
      +e.LI.item  
        +e.A.link(href="#") Главная
      +e.LI.item  
        +e.A.link(href="#") Страница
      +e.LI.item  
        +e.A.link(href="#") Каталог
      +e.LI.item  
        +e.A.link(href="#") Контакты
