@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic,cyrillic-ext');
@font-face {
  font-family: 'Raleway';
  src: url('/styles/Raleway-Regular.woff2') format('woff2'),
    url('/styles/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('/styles/Raleway-Bold.woff2') format('woff2'),
    url('/styles/Raleway-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway SemiBold';
  src: url('/styles/Raleway-SemiBold.woff2') format('woff2'),
    url('/styles/Raleway-SemiBol.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
